<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikeLock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25DE4BF41CAFB9F100EFFF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25DE4C081CAFB9F200EFFF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25DE4C131CAFB9F200EFFF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
